@model IEnumerable<drankshop.Models.FavorietViewModel>

@{
    ViewData["Title"] = "FavorietenLijst";
}
@{
if (ViewBag.Alert == 0)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Actie is voltooid.
    </div>
}
else if (ViewBag.Alert == 1)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Categorie is niet aangemaakt. Check uw verbinding.
    </div>
    }
}

<h1>FavorietenLijst</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.drankid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.drankid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accountid)
                </td>
                <td>
                    <a type="button" style="background-color: #5020BB; color: white" class="btn btn" asp-controller="Favoriet" asp-action="Verwijderen" asp-route-id="@item.accountid">Verwijderen</a>
                </td>

            </tr>
        }
    </tbody>
</table>
